.selectSort {
  display: flex;
  align-items: center;
  gap: 16px;
}

.filterContainer {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 40px;
}

.productsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 32px;
}

.sortTitle {
  font-weight: 600;
}

.path {
  font-size: 64px;
  font-weight: 700;
  line-height: 70.4px;
  margin: 40px 0;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.link {
  font-size: 16px;
  font-weight: 500;
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 6px;
  white-space: nowrap;
  padding: 6px 16px;
  color: #8B8B8B;
}

.activeLink {
  font-size: 16px;
  font-weight: 500;
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 6px;
  white-space: nowrap;
  padding: 6px 16px;
  color: #282828
}

.titleLine {
  width: 16px;
  height: 1px;
  background-color: #DDDDDD;
}

.resetButton {
  font-size: 16px;
  font-weight: 500;
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 6px;
  padding: 6px 16px;
  color: #8B8B8B;
  cursor: pointer;
  transition: color 0.3s ease, border-color 0.3s ease;
  height: 40px;
  white-space: nowrap;
}

.resetButton:hover {
  color: #282828;
  border-color: #282828;
}